<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FCC random quote machine</title>
    <link rel="stylesheet" href="styles/main.css" media="screen">
  </head>
  <body>
    <main>
      <h1>Random Quote Machine</h1>
    </main>
    <script src="javascript/main.js" charset="utf-8"></script>
  </body>
</html>
